samples/nuget-package-based/LogicApp/track-availability/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "@triggerBody()?['urlToTest']",
                    "method": "GET"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Response_Available": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": "@outputs('HTTP')?['statusCode']",
                    "body": {
                        "status": "available"
                    }
                },
                "runAfter": {
                    "Track_availability_in_App_Insights": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Track_availability_in_App_Insights": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "testName": "@triggerBody()?['testName']",
                        "success": true
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "trackAvailabilityInAppInsights",
                        "operationId": "trackAvailabilityInAppInsights",
                        "serviceProviderId": "/serviceProviders/trackAvailabilityInAppInsights"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Track_unavailability_in_App_Insights": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "testName": "@triggerBody()?['testName']",
                        "success": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "trackAvailabilityInAppInsights",
                        "operationId": "trackAvailabilityInAppInsights",
                        "serviceProviderId": "/serviceProviders/trackAvailabilityInAppInsights"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                }
            },
            "Response_Unavailable": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 503,
                    "body": {
                        "status": "unavailable"
                    }
                },
                "runAfter": {
                    "Track_unavailability_in_App_Insights": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "testName": {
                                "type": "string"
                            },
                            "urlToTest": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}